In [1]:
import pandas as pd

In [17]:
# Load
data = pd.read_csv('Data/heart.csv')
data.head(3)                         #first 3 lines

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [15]:
type(data)

pandas.core.frame.DataFrame

In [47]:
data['chol']  # get column (index + value)

0      233
1      250
2      204
3      236
4      354
      ...
298    241
299    264
300    193
301    131
302    236
Name: chol, Length: 303, dtype: int64

In [48]:
data['chol'].values # get column (only values)

array([233, 250, 204, 236, 354, 192, 294, 263, 199, 168, 239, 275, 266,
       211, 283, 219, 340, 226, 247, 239, 234, 233, 226, 243, 199, 302,
       212, 175, 417, 197, 198, 177, 219, 273, 213, 177, 304, 232, 269,
       360, 308, 245, 208, 264, 321, 325, 235, 257, 216, 234, 256, 302,
       231, 141, 252, 201, 222, 260, 182, 303, 265, 309, 186, 203, 211,
       183, 222, 234, 220, 209, 258, 227, 204, 261, 213, 250, 245, 221,
       205, 240, 250, 308, 318, 298, 265, 564, 277, 197, 214, 248, 255,
       207, 223, 288, 160, 226, 394, 233, 315, 246, 244, 270, 195, 240,
       196, 211, 234, 236, 244, 254, 325, 126, 313, 211, 262, 215, 214,
       193, 204, 243, 303, 271, 268, 267, 199, 210, 204, 277, 196, 269,
       201, 271, 295, 235, 306, 269, 178, 208, 201, 263, 295, 303, 209,
       223, 197, 245, 242, 240, 226, 180, 228, 149, 227, 278, 220, 197,
       253, 192, 220, 221, 240, 342, 157, 175, 175, 286, 229, 268, 254,
       203, 256, 229, 284, 224, 206, 167, 230, 335, 177, 276, 353, 225,
       330, 230, 243, 290, 253, 266, 233, 172, 305, 216, 188, 282, 185,
       326, 231, 254, 267, 248, 197, 258, 270, 274, 164, 255, 239, 258,
       188, 177, 229, 260, 219, 307, 249, 341, 263, 330, 254, 256, 407,
       217, 282, 288, 239, 174, 281, 198, 288, 309, 243, 289, 289, 246,
       322, 299, 300, 293, 304, 282, 269, 249, 212, 274, 184, 274, 409,
       246, 283, 254, 298, 247, 294, 299, 273, 309, 259, 200, 244, 231,
       228, 230, 282, 269, 206, 212, 327, 149, 286, 283, 249, 234, 237,
       234, 275, 212, 218, 261, 319, 166, 315, 204, 218, 223, 207, 311,
       204, 232, 335, 205, 203, 318, 225, 212, 169, 187, 197, 176, 241,
       264, 193, 131, 236], dtype=int64)

In [39]:
data[['fbs','thalach']]    # get 2 columns

     fbs  thalach
0      1      150
1      0      187
2      0      172
3      0      178
4      0      163
..   ...      ...
298    0      123
299    0      132
300    1      141
301    0      115
302    0      174

[303 rows x 2 columns]

In [40]:
pd.DataFrame([data['fbs'],data['thalach']])  #invertir col x filas

,0,1,2,3,4,5,6,7,8,9,...,293,294,295,296,297,298,299,300,301,302
fbs,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
thalach,150,187,172,178,163,148,153,173,162,174,...,150,144,144,136,90,123,132,141,115,174

In [52]:
data.drop([4]) # elimina fila en posiciÃ³n X
data.count()

age         303
sex         303
cp          303
trestbps    303
chol        303
fbs         303
restecg     303
thalach     303
exang       303
oldpeak     303
slope       303
ca          303
thal        303
class       303
dtype: int64

In [53]:
data.drop('columna',axis=1) # elimina columna

KeyError: "['columna'] not found in axis"

## export new data

In [57]:
data_modificada = data[['fbs','oldpeak']]
data_modificada.head(3)

   fbs  oldpeak
0    1      2.3
1    0      3.5
2    0      1.4

In [59]:
data_modificada.to_csv('Data/newHeartData.csv')   #export to .csv