In [2]:
import pandas as pd # para importar documentos de tipo csv
from sklearn.preprocessing import StandardScaler # para normalizar
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
data = pd.read_csv('Data/heart.csv')

In [6]:
data.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

In [8]:
variable_dependiente = data['class']
variable_dependiente.head(3)

0    1
1    1
2    1
Name: class, dtype: int64

In [9]:
variable_independiente = data.drop('class',axis=1)
variable_independiente.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2

In [10]:
variable_independiente_normalizada = StandardScaler().fit_transform(variable_independiente)

### Separar

In [11]:
x_train,x_test,y_train,y_test = train_test_split(variable_independiente_normalizada,variable_dependiente,test_size=0.25, shuffle=True)

In [12]:
bt = GradientBoostingClassifier(max_depth=5,n_estimators=100)

### Entrenar

In [15]:
bt.fit(x_train,y_train)

GradientBoostingClassifier(max_depth=5)

### Obteniendo eficiencia

In [16]:
bt.score(x_test,y_test)

0.7105263157894737

### Aplicando a nueva data

In [18]:
nueva_data = x_test[0]
nueva_data.shape

(13,)

In [22]:
bt.predict(nueva_data.reshape(1,13))
# reshape : Reacomodar la dimension cuando se predice solo 1, se cambia la dimension a 1 fila y 13 columnas

array([1], dtype=int64)