# repaso de la clase del lunes

In [2]:
# algoritmo -> secuencia de pasos para hacer unatarea
# lenguaje humano diferente lenguaje de maquina -> necesito un lenguaje puente -> python
# vamos aprender como todo lenguaje (elementos basicos, complejos, condicionales , bucles, etc)

### elemntos basicos

##### elementos numericos

In [4]:
x = 45
y = 75
z = x + y
print(z)

120

In [5]:
type(x)

int

In [6]:
type(y)

int

##### elemento de cadenas (strings)

In [7]:
nombre = 'basilio cieza huaman'

In [8]:
type(nombre)

str

In [9]:
len(nombre)

20

In [11]:
nombre.capitalize()

'Basilio cieza huaman'

In [12]:
nombre.upper()

'BASILIO CIEZA HUAMAN'

In [13]:
nombre.count('a')

4

In [14]:
nombre.count('A')

0

### Elementos complejos

##### listas

In [16]:
lista_numerica = [45,7,11,78,45]

In [17]:
print(lista_numerica)

[45, 7, 11, 78, 45]

In [18]:
sum(lista_numerica)

186

In [19]:
lista_numerica.count(45)

2

In [20]:
lista_numerica[0]

45

In [21]:
lista_de_alumnos = ['jaime','carlos','pamelo']

In [22]:
print(lista_de_alumnos)

['jaime', 'carlos', 'pamelo']

##### diccionarios

In [23]:
banco = {'basilio':[33,'casado',3],'carlos':[35,'soltero',5]}

In [24]:
type(banco) # dict -> dictionary

dict

In [25]:
banco['basilio']

[33, 'casado', 3]

In [26]:
banco['carlos']

[35, 'soltero', 5]

In [27]:
# diccionarios era elementos complejos formado por elementos apareados

In [28]:
## variables booleanas

In [29]:
# un igual (=) significa ASIGNACION
# dos iguales (==) significa COMPARACION

In [31]:
2==2

True

In [32]:
2==5

False

In [39]:
x = 2 ==5

In [40]:
print(x)

False

In [41]:
type(x)

bool

In [36]:
# una variable booleana puede tomar solo dos valores -> verdad o falso

### CONDICIONALES

In [47]:
edad = 5
if edad > 18:
    print('es mayor de edad')
elif edad == 18:
    print('acaba de cumplir su mayoria de edad')
elif edad<18:
    print('es menor de edad')
else:
    print('parece que esto no es un numero')

es menor de edad

### BUCLES

##### FOR

In [48]:
x = [12,5,48,97,4]

In [51]:
contar = 0
for i in x:
    print('hola')
    print(i)
    contar =  contar +1

hola
12
hola
5
hola
48
hola
97
hola
4

In [52]:
print(contar)

5

In [53]:
x

[12, 5, 48, 97, 4]

In [56]:
for i in x:
    if i <= 18 :
        print(i)

12
5
4

### FUNCION

In [72]:
def encontrador_de_ninos(x):
    for i in x:
        if i <= 18 :
            print(i)

In [73]:
x=[15,47,5]

In [74]:
encontrador_de_ninos(x)

15
5

### importe/exporte de data

In [75]:
# vamos a leer archivos de modo que se importen COMO TABLAS

In [78]:
import pandas as pd # pandas es una libreria que me perti leer archibos e impotarlo como tabla (dataframe)
print('ready')

ready

In [80]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 11, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 45.2.0.post20200210
Cython           : 0.29.15
pytest           : 5.3.5
hypothesis       : 5.5.4
sphinx           : 2.4.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

In [137]:
data = pd.read_csv('C:/Users/bciez/Desktop/data/heart.csv') 
# necesito direccion y nombre del file
# pd. indica que vamos a usar la libreria pandas

In [138]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [139]:
data = pd.read_csv('C:/Users/bciez/Desktop/data/heart.csv') 
data.head(3) # me muestra las primreas 3 lineas de la data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [140]:
data['class'] # este comando extrae una columna si le das el nombre de la columan

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: class, Length: 303, dtype: int64

In [141]:
data.drop('class',axis = 1) # drop() con axis = 1 elimina una columna, axis = 0 elimina fila,

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [142]:
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [143]:
lista_de_edades = data['age']
print(lista_de_edades)

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [144]:
data.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [161]:
data[['class','sex']] # crear una lista ['target','sex']

     class  sex
0        1    1
1        1    1
2        1    0
3        1    1
4        1    0
..     ...  ...
298      0    0
299      0    1
300      0    1
301      0    1
302      0    0

[303 rows x 2 columns]

In [147]:
data.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [148]:
data['age'] # este comando extrae una columna

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [149]:
data.drop('fbs',axis=1) # este comando elimina una columan

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,174,0,0.0,1,1,2,0

In [150]:
data['age'].values # extrae solo los valores sin el formato

array([63, 37, 41, 56, 57, 57, 56, 44, 52, 57, 54, 48, 49, 64, 58, 50, 58,
       66, 43, 69, 59, 44, 42, 61, 40, 71, 59, 51, 65, 53, 41, 65, 44, 54,
       51, 46, 54, 54, 65, 65, 51, 48, 45, 53, 39, 52, 44, 47, 53, 53, 51,
       66, 62, 44, 63, 52, 48, 45, 34, 57, 71, 54, 52, 41, 58, 35, 51, 45,
       44, 62, 54, 51, 29, 51, 43, 55, 51, 59, 52, 58, 41, 45, 60, 52, 42,
       67, 68, 46, 54, 58, 48, 57, 52, 54, 45, 53, 62, 52, 43, 53, 42, 59,
       63, 42, 50, 68, 69, 45, 50, 50, 64, 57, 64, 43, 55, 37, 41, 56, 46,
       46, 64, 59, 41, 54, 39, 34, 47, 67, 52, 74, 54, 49, 42, 41, 41, 49,
       60, 62, 57, 64, 51, 43, 42, 67, 76, 70, 44, 60, 44, 42, 66, 71, 64,
       66, 39, 58, 47, 35, 58, 56, 56, 55, 41, 38, 38, 67, 67, 62, 63, 53,
       56, 48, 58, 58, 60, 40, 60, 64, 43, 57, 55, 65, 61, 58, 50, 44, 60,
       54, 50, 41, 51, 58, 54, 60, 60, 59, 46, 67, 62, 65, 44, 60, 58, 68,
       62, 52, 59, 60, 49, 59, 57, 61, 39, 61, 56, 43, 62, 63, 65, 48, 63,
       55, 65, 56, 54, 70, 62, 35, 59, 64, 47, 57, 55, 64, 70, 51, 58, 60,
       77, 35, 70, 59, 64, 57, 56, 48, 56, 66, 54, 69, 51, 43, 62, 67, 59,
       45, 58, 50, 62, 38, 66, 52, 53, 63, 54, 66, 55, 49, 54, 56, 46, 61,
       67, 58, 47, 52, 58, 57, 58, 61, 42, 52, 59, 40, 61, 46, 59, 57, 57,
       55, 61, 58, 58, 67, 44, 63, 63, 59, 57, 45, 68, 57, 57],
      dtype=int64)

In [128]:
## NECESITO QUE SEPAN TRES COSAS

In [151]:
data = pd.read_csv('C:/Users/bciez/Desktop/data/heart.csv') 
data.head(3) # me muestra las primreas 3 lineas de la data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [152]:
data['cp']

0      3
1      2
2      1
3      1
4      0
      ..
298    0
299    3
300    0
301    0
302    1
Name: cp, Length: 303, dtype: int64

In [153]:
data.drop('age',axis=1)

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### EXPORTAR NUEVA DATA

In [154]:
data_modificada = data[['class','sex']]

In [155]:
data_modificada.head(3)

   class  sex
0      1    1
1      1    1
2      1    0

In [136]:
data_modificada.to_csv('C:/Users/bciez/Desktop/data/heart_modificado.csv')

In [157]:
data_modificada.to_csv('C:/Users/bciez/Desktop/data/heart_modificado.csv') # exporta la data en un nuevo documento con extension csv

### COMO LEO EXCEL

In [159]:
pd.read_excel('C:/Users/bciez/Desktop/data/heart.xlsx') # DESDE UN EXCEL

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

# RANDOM FOREST

In [162]:
# ESCRIBIR TU ALGORITMO

# 1. importar data
# 2. normalizar la data
# 3. dividir en data de entrenamiento y testeo
# 4. entrenar el algoritmo con la data de entrenamieto
# 5. ver su eficiencia usando la data de testeo

### 1. importar data

In [163]:
data = pd.read_csv('C:/Users/bciez/Desktop/data/heart.csv') 
data.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

### 2. normalizar la data

In [164]:
## separar variables dependientes (class) de variables independientes

In [166]:
var_dep = data['class'] # filtro o cojo la variable dependiente
var_dep.head(3)

0    1
1    1
2    1
Name: class, dtype: int64

In [169]:
var_ind = data.drop('class',axis=1) # eliminio la variable dependiente para quedarme solo con las independientes (que son las que se normalizan)
var_ind.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2

In [170]:
# para normalizar voy a usar una libreria especializada en normalizacion
from sklearn.preprocessing import StandardScaler

In [171]:
# aqui viene la normalizacion
var_ind_norm = StandardScaler().fit_transform(var_ind) # normalizacion (dato -media)/(desviacion standar)

In [172]:
var_ind_norm

array([[ 0.9521966 ,  0.68100522,  1.97312292, ..., -2.27457861,
        -0.71442887, -2.14887271],
       [-1.91531289,  0.68100522,  1.00257707, ..., -2.27457861,
        -0.71442887, -0.51292188],
       [-1.47415758, -1.46841752,  0.03203122, ...,  0.97635214,
        -0.71442887, -0.51292188],
       ...,
       [ 1.50364073,  0.68100522, -0.93851463, ..., -0.64911323,
         1.24459328,  1.12302895],
       [ 0.29046364,  0.68100522, -0.93851463, ..., -0.64911323,
         0.26508221,  1.12302895],
       [ 0.29046364, -1.46841752,  0.03203122, ..., -0.64911323,
         0.26508221, -0.51292188]])

### 3. dividir en data de entrenamiento y testeo

In [175]:
# subo libreria para separar data de entreniamiento y testeo
from sklearn.model_selection import train_test_split

In [176]:
x_train, x_test, y_train, y_test= train_test_split(var_ind_norm,var_dep,test_size = 0.25,shuffle=True,random_state=125)
#shuffle=True -> separa aletoriamente
#test_size = 0.25 -> 25% de toda la data, sera de testeo
#random_state=125 -> que sea reproducible -> ledas cualquier numero entero

### 4. entrenar el algoritmo con la data de entrenamieto

In [177]:
# subir la libreria de random forest
from sklearn.ensemble import RandomForestClassifier

In [179]:
rf = RandomForestClassifier(max_depth=4,n_estimators=100) # esto solo construye el modelo
# max_depth -> numero de ramas
# n_estimators -> numero de arboles

In [180]:
rf.fit(x_train,y_train) # fit -> optimizar -> entrenar
print('ready')

ready

### 5. ver su eficiencia usando la data de testeo

In [181]:
rf.score(x_test,y_test) # score -> puntaje -> que tan bien hace su trabajo

0.7894736842105263